/*****************************
*
* FONT IMPORT
*
*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@font-face {
    font-family: 'bignoodletitling';
    src: url('fonts/BigNoodleTitling/big_noodle_titling-webfont.woff2') format('woff2'),
         url('fonts/BigNoodleTitling/big_noodle_titling-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*****************************
*
* FONTS
*
*/
html {
	font-size: 14px;
}

body {
	color: #fff;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

h1 {
	margin-bottom: 30px;
	font-family: 'bignoodletitling';
	font-size: 60px;
}

h2 {
	font-family: 'bignoodletitling', sans-serif;
	color: $main-color-blue-dark;
	font-size: 4.643rem;
	text-align: center;
}

h3 {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 8px;
	text-transform: uppercase;
	color: $main-color-blue-dark;
	font-size: 1.714rem;
	text-align: center;
}

h4 {
	font-family: 'bignoodletitling', sans-serif;
	font-size: 2.857rem;
	text-align: right;
	margin: 0;
}

h5 {
	font-family: 'bignoodletitling', sans-serif;
	font-size: 2.143rem;
	text-align: center;
	margin: 0;
	color: $main-color-blue-dark;
}

a {
	text-decoration: none;
	color: $main-color-orange;

	&:hover {
		text-decoration: none;
		color: $main-color-turquoise;
	}
}