/*****************************
*
* HERO IMG
*
*/
#home {
	background-image: url('images/hero-img-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 90vh;
	
	#hero-img {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 100px;
	}
}

/*****************************
*
* JOB SEARCH FORM
*
*/
#job-search-form {
	// margin-top: 7.857rem;
	margin-top: 30px;

	#search-input {
		border: none;
		border-radius: 0;
		height: 4rem;
	}

	.btn-orange {
		text-transform: uppercase;
	}
}

/*****************************
*
* JOB SEARCH FORM
*
*/
#jobs-container {
	background: $main-color-blue-dark;
	.row { margin: 0; }
	
	/* ----------------------
	job heading area
	*/
	.search-area {
		
		/* ----------------------
	     title
		*/
		div:first-of-type {
			background: #fff;

			h2 {
				color: $main-color-turquoise;
				margin: 0;
				text-align: center;
				padding-top: 1.2rem; // SHAME
			}
		}

		// /* ----------------------
		// search box
		// */
		// div:last-of-type {
		// 	background: $main-color-blue-light;
		// 	display: flex;
		// 	flex-direction: row;
		// 	padding: 0;
			
		// 	/* ----------------------
		// 	input
		// 	*/
		// 	.search {
		// 		background: none;
		// 		border: none;
		// 		color: #fff;
		// 		padding-left: 3rem;
		// 	}
			
		// 	/* ----------------------
		// 	icon
		// 	*/
		// 	.fa-search {
		// 		text-align: center;
		// 		display: flex;
		// 		flex-direction: column;
		// 		justify-content: center;
		// 		padding: 0;
		// 		background: $main-color-orange;
		// 		cursor: pointer;

		// 		&:hover {
		// 			background: lighten($main-color-orange, 5%);
		// 		}
		// 	}
		// }
	}

	/*****************************
	*
	* JOBS
	*
	*/

	/* ----------------------
	jobs general
	*/
	.job-item-container {
		list-style: none;
		padding: 0;

		.job-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0 4rem;
			background: $main-color-blue-light;
			height: 18rem;
			margin-bottom: 0.07143rem;
			position: relative;

			&:last-of-type {
				margin-bottom: 0;
			}

			.title {
				text-decoration: none;
				color: #fff;
				font-family: 'bignoodletitling', sans-serif;
				font-size: 2rem;

				&:hover {
					color: $main-color-turquoise;
				}
			}

			.company {
				color: $main-color-orange;
			}

			.tags {
				margin: 1rem 0 0;

				span {
					background: $main-color-turquoise;
					border-radius: 10%;
					padding: 0.5rem 0.5rem 0 0.5rem;
					font-family: 'bignoodletitling', sans-serif;
					font-size: 1.5rem;
					// cursor: pointer;

					// &:hover {
					// 	background: #fff;
					// 	color: $main-color-turquoise;
					// }
				}
			}
			
			/* ----------------------
			match result
			*/
			.match-result {

				.match-background {
					position: absolute;
					bottom: 0;
					right: 0;
					height: 0;
					width: 0;
					border-left: 300px solid transparent;
					border-bottom: 150px solid $main-color-orange;
				}

				.match-text {
					position: absolute;
					bottom: 0;
					right: 0;
					margin: 0 1rem 1rem 0;

					p {
						text-transform: uppercase;
						margin-bottom: 0;
					}
				}
			}
		}

		.topjob-item-container {

			.topjob-item {
				.title {
					font-size: 1.7rem;
				}

				&:first-of-type h2 {
					font-size: 40px;
				}
			}
		}
	}
	
	/* ----------------------
	topjob
	*/
	.topjob-item-container {
		@extend .job-item-container;

		.topjob-item {
			@extend .job-item;
			background: $main-color-turquoise;
			padding: 0 3rem;
			
			/* ----------------------
			"TOPJOB" - heading
			*/
			&:first-of-type {
				background: none;
				padding: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;

				h2 {
					color: $main-color-orange;
				}
			}

			.title {
				text-align: center;

				&:hover {
					color: $main-color-blue-light;
				}
			}

			.company {
				color: $main-color-blue-light;
				text-align: center;
				font-weight: bold;
				font-size: 1.2rem;
				margin-bottom: 0.2rem;
			}

			.job-type {
				text-align: center;
				text-transform: uppercase;
			}

			.tags {
				display: flex;
				justify-content: center;

				span {
					background: #fff;
					color: $main-color-orange;
					margin-right: 0.3rem;

					&:hover {
						color: $main-color-blue-light;
					}

					&:last-of-type {
						margin-right: 0;
					}
				}
			}
		}
	}
}

/*****************************
*
* PAGINATION
*
*/

.pagination {
	margin: 0;
	padding-bottom: 100px;

	li {
		padding: 0.8rem 1.5rem;
		margin-right: 0.3rem;
		background: $main-color-blue-light;

		a {
			color: #fff;
		}

		&.active {
			background: $main-color-orange;

			&:hover {
				background: $main-color-orange;

				a {
					color: $main-color-blue-light;
				}
			}
		}

		&:hover {
			background: #fff;

			a {
				color: $main-color-blue-light;
			}
		}
		
		&.disabled {
			background: darken($main-color-blue-light, 5%);
			cursor: not-allowed;
			
			span {
				color: lighten($main-color-blue-light, 5%);
			}

			&:hover {
				background: darken($main-color-blue-light, 5%);
			}
		}
	}
}


/*****************************
*
* RESPONSIVE
*
*/
@include media-breakpoint-down(md) {

	/*****************************
	*
	* JOB SEARCH FORM
	*
	*/
	#home {
		min-height: 1000px;
	}

	#hero-img {
		h3 {
			font-size: 17px;
			letter-spacing: 5px;
		}
		h2 {
			font-size: 50px;
		}

		#job-search-form {
			margin-top: 30px;
		}
	}
	/*****************************
	*
	* JOBS
	*
	*/
	#jobs-container {
		
		/* ----------------------
			search area
		*/
		.search-area {
			display: flex;
			flex-direction: column-reverse;

			input.search {
				height: 50px;
			}
		}

		/* ----------------------
			jobs
		*/
		.job-item-container {
			margin-bottom: 0;
		}
		
		/* ----------------------
			topjobs
		*/
		.topjob-item-container {
			margin-bottom: 14px;

			.topjob-item:first-of-type {
				height: 200px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {

	/*****************************
	*
	* JOB SEARCH FORM
	*
	*/
	#job-search-form {
		.form-group {
			margin-bottom: 7px;

			.dropdownContainer {
				margin-bottom: 7px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	/*****************************
	*
	* JOBS
	*
	*/
	#jobs-container {
		
		/* ----------------------
			search-area
		*/
		.search-area h2 {
			font-size: 50px;
		}
		
		/* ----------------------
			jobs
		*/
		.job-item-container .job-item {
			padding: 0 50px;

			.match-result .match-background {
				border-left: 236px solid transparent;
				border-bottom: 132px solid $main-color-orange;
			}
		}
		
		/* ----------------------
			topjobs
		*/
		.topjob-item-container .topjob-item:first-of-type h2 {
			margin: 0;
		}
	}
}

@include media-breakpoint-down(xs) {
	
	#home {
		min-height: 1500px;
	}
	/*****************************
	*
	* JOB SEARCH FORM
	*
	*/
	#hero-img {
		h3 {
			font-size: 13px;
			letter-spacing: 5px;
		}
		h2 {
			font-size: 30px;
		}
	}

	/*****************************
	*
	* JOBS
	*
	*/
	#jobs-container {
		/* ----------------------
			search-area
		*/
		.search-area h2 {
			font-size: 30px;
		}
		
		.job-item-container .job-item {
			padding: 0 15px;
			height: 22rem;

			.title {
				font-size: 20px;
			}

			.description {
				text-overflow: ellipsis;
				max-height: 40.8px;
				overflow: hidden;
			}

			.match-result {
				margin-top: -50px;

				.match-background {
					height: 50px;
					background: $main-color-orange;
					border: none;
					width: 100%;
					top: 0;
				}

				.match-text {
					margin: 0;
					height: 50px;
					display: flex;
					justify-content: center;
					text-align: center;
					width: 100%;
					top: 0;

					h4 {
						font-size: 30px;
						margin-right: 10px;
						line-height: 60px;
					}
					p {
						font-size: 12px;
						line-height: 50px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 331px) {
	.job-item-container .job-item .title {
		font-size: 18px;
	}

	.pagination span {
		font-size: 11px;
	}
}











