/*****************************
*
* JOB SINGLE
*
*/

#job-single {
	background: $main-color-blue-dark;

	/* ----------------------
	remove main-nav
	*/
	nav {
		display: none;
	}
	
	/* ----------------------
	job single nav
	*/
	.job-single-nav {
		// background: #fff;
		// height: 4.286rem;

		.container {
			display: flex;
			justify-content: space-between;
			
			/* ----------------------
			a tag vertical center - same height as .job-single-nav
			*/
			a {
				// line-height: 3.286rem;
				// height: 60px;
				margin-top: 80px;
			}
		}
	}

	/* ----------------------
	job single content
	*/
	.job-single-content {
		margin-top: 5rem;
		
		.heading {
			display: flex;
			justify-content: space-between;
			margin-bottom: 3.571rem;
			background: $main-color-orange;
			padding: 40px;

			h4 {
				text-align: left;
				padding: 0;
			}

			.info {
				display: flex;
				justify-content: space-between;
				padding-right: 0;
				
				h5 {
					font-size: 1.8rem;
					align-self: center;

					.fa {
						margin-right: 10px;
						color: #fff;
					}
				}
			}
		}

		.description {
			margin-bottom: 5rem;

			strong {
				color: $main-color-orange;
			}

			ul {
				padding-left: 1rem;
			}
		}

		button {
			// height: 3.571rem;
		}
	}

	/* ----------------------
		form
	*/
	#form-container-dark {
		display: none;
	}

	// .job-single-form {
	// 	// background: $main-color-blue-light;
	// 	background: #fff;
	// 	padding: 7.143rem 0;
	// 	display: none;
		
	// 	.row {
	// 		padding: 0 1.071rem;
			
	// 		/* ----------------------
	// 		name
	// 		*/
	// 		div:first-of-type {
	// 			padding-right: 1.071rem;
	// 		}

	// 		/* ----------------------
	// 		surname
	// 		*/
	// 		div:last-of-type {
	// 			padding-left: 1.071rem;
	// 		}
	// 	}

	// 	.form-group {
	// 		padding: 0;
	// 		margin-bottom: 2rem;

	// 		&:last-of-type {
	// 			margin-bottom: 0;
	// 		}

	// 		input {
	// 			color: #fff;
	// 			border-radius: 0;
	// 			border: none;
	// 			height: 3.571rem;
	// 			background: $main-color-turquoise;
	// 			border: 0.2143rem solid $main-color-turquoise;

	// 			&:hover, &:focus {
	// 				border-color: lighten($main-color-turquoise, 10%);
	// 				color: #fff;

	// 				&::-moz-placeholder {
	// 					color:  #fff;
	// 				}
	// 				&::-webkit-input-placeholder {
	// 					color:  #fff;
	// 				}
	// 				&:-moz-placeholder {
	// 					color:  #fff;
	// 				}
	// 				&:-ms-input-placeholder {
	// 					color:  #fff;
	// 				}
	// 			}

	// 			/* ----------------------
	// 			placeholder txt color
	// 			*/
	// 			&::-moz-placeholder {
	// 				color:  #fff;
	// 			}
	// 			&::-webkit-input-placeholder {
	// 				color:  #fff;
	// 			}
	// 			&:-moz-placeholder {
	// 				color:  #fff;
	// 			}
	// 			&:-ms-input-placeholder {
	// 				color:  #fff;
	// 			}

	// 			&[type=file] {
	// 				width: 0.1px;
	// 				height: 0.1px;
	// 				opacity: 0;
	// 				overflow: hidden;
	// 				position: absolute;
	// 				z-index: -1;
	// 			}
	// 		}

	// 		label {
	// 			@extend input;
	// 			text-align: center;
	// 			line-height: 3.143rem;
	// 		}

	// 		textarea {
	// 			@extend input;
	// 			width: 100%;
	// 			background: transparent;
	// 			min-height: 16.43rem;
	// 			padding: 0.5rem 0.7143rem;
	// 		}

	// 		button {
	// 			height: 3.571rem;
	// 			margin-top: 1.429rem;
	// 		}
	// 	}
	// }
	
	/* ----------------------
	darker footer color because of .job-single-form background
	*/
	footer {
		margin-top: 3.571rem;

	// 	&.footer-dark {
	// 		background: $main-color-blue-dark;
	// 		margin-top: 0;
	// 	}
	}
}




/*****************************
*
* RESPONSIVE
*
*/
@include media-breakpoint-down(lg) {

	/* ----------------------
		heading
	*/
	#job-single .job-single-content .heading .info h5 .fa {
		margin-right: 0;
	}
}

@include media-breakpoint-down(md) {
	
	/* ----------------------
		heading
	*/
	#job-single .job-single-content {

		.heading {
			flex-direction: column;

			h4 {
				align-self: flex-end;
				text-align: right;
			}

			.info {
				width: unset;
				flex-direction: column;
				align-items: flex-end;

				h5 {
					text-align: right;
					line-height: 1.6rem;
					align-self: flex-end;

					.fa {
						display: none;
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	
	/* ----------------------
		job single form
	*/

	#job-single .job-single-form .row {
		padding: 0 1.071rem;
		
		/* ----------------------
		name, email
		*/
		div:first-of-type {
			padding-right: 0;
		}

		/* ----------------------
		surname, curriculum
		*/
		div:last-of-type {
			padding-left: 0;
			margin-bottom: 28px;
		}
	}
}

@include media-breakpoint-down(xs) {

	.job-single-nav button {
		width: 40%;
	}
	
	/* ----------------------
	heading
	*/
	#job-single .job-single-content .heading {
		padding: 20px;

		h4 {
			font-size: 1.8rem;
			text-align: right;
		}
	}
}




