/*****************************
*
* AUTHENTICATION RESET
*
*/

/* ----------------------
webkit fix
*/
#auth-container.reset #auth-box {
	-webkit-padding-after: 30vh;
}

#form_light main {
	background: #E7E7E7;
}
