/*****************************
*
* ERROR STYLING
*
*/

.job-error {
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	height: 18rem;
	border-radius: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.fa {
		font-size: 7rem;
	}
}