/*****************************
*
* FORM LIGHT
*
*/

#form-container-light {
	background: #E7E7E7;
	background-size: cover;
	// height: 100%;
	width: 100%;
	padding: 4.286rem 0 7.143rem;

	h5 {
		margin-bottom: 1.429rem;
	}

	#form-box {
		margin: 0 auto;
		padding: 0;
		
		/* ----------------------
		register head
		*/
		.form-head {
			background: #fff;
			margin-bottom: 0.07143rem;
			padding: 7.143rem 0 2.857rem;
			position: relative;

			p {
				color: $main-color-blue-dark;
				text-align: center;
				margin: 0;
			}
		}

		form {
			background: #fff;
			padding: 9rem 0 1.429rem;

			.form-group {
				margin: 0 auto;
				margin-bottom: 2.143rem;

				&:nth-last-of-type(2) {
					margin-bottom: 3.214rem;
				}

				&.company_name {
					display: none;
				}

				input {
					border: none;
					border-bottom: 0.07143rem solid $main-color-blue-dark;
					border-radius: 0;
					padding: 0.7143rem 0;
				}
				
				/* ----------------------
					error message color
				*/
				.help-block {
					color: #B7252F;
				}

				.custom-select {
					@extend input;
					padding: 0;

					option {
						padding: 0;
					}
				}

				button[type=submit] {
					// height: 4rem;
					font-weight: normal;
				}

				.row {
					padding: 0;
					margin: 1.429rem auto 0;

					/* ----------------------
					checkbox
					*/
					.custom-checkbox {
						margin: 0;
						padding-right: 0;

						.custom-control-indicator {
							border-radius: 0;
							background-color: #8E8E8E;
						}

						.custom-control-description {
							color: $main-color-blue-dark;
						}
					}
					
					/* ----------------------
					password reset link to page
					*/
					a {
						padding: 0;
						text-decoration: underline;
						color: $main-color-blue-dark;
						text-align: right;

						&:hover {
							color: $main-color-turquoise;
						}
					}
				}
			}
		}
		
		.form-footer {
			text-align: center;
			background: #fff;
			margin-top: 0.07143rem;
			padding: 1.071rem 0;

			p {
				margin-bottom: 0;
				color: $main-color-blue-dark;
			}
		}

		/* ----------------------
		password reset
		*/
		#pw-reset-form {
			padding-top: 8.571rem;
		}	
	}
}

/*****************************
*
* FORM DARK
*
*/
#form-container-dark {
	@extend #form-container-light;
	background: unset;
	padding: 80px 0 0;

	h5 {
		color: #fff;
		margin-top: 50px;
	}

	form {
		background: none;
		
		/* ----------------------
			max/min 2 items in a row
		*/
		.row {
			padding: 0 1.071rem;
			
			/* ----------------------
				first item
			*/
			div:first-of-type {
				padding-right: 1.071rem;
			}

			/* ----------------------
				last item
			*/
			div:last-of-type {
				padding-left: 1.071rem;
			}
		}

		.form-group {
			padding: 0;
			margin-bottom: 2rem;

			input, .curriculum_vitae {
				color: #fff;
				border-radius: 0;
				border: none;
				height: 3.571rem;
				background: transparent;
				border: 0.2143rem solid $main-color-blue-light;

				&:hover, &:focus {
					border-color: $main-color-orange;
					color: $main-color-orange;

					&::-moz-placeholder {
						color:  $main-color-orange;
					}
					&::-webkit-input-placeholder {
						color:  $main-color-orange;
					}
					&:-moz-placeholder {
						color:  $main-color-orange;
					}
					&:-ms-input-placeholder {
						color:  $main-color-orange;
					}
				}

				/* ----------------------
				placeholder txt color
				*/
				&::-moz-placeholder {
						color:  $main-color-blue-light;
					}
					&::-webkit-input-placeholder {
						color:  $main-color-blue-light;
					}
					&:-moz-placeholder {
						color:  $main-color-blue-light;
					}
					&:-ms-input-placeholder {
						color:  $main-color-blue-light;
					}

				&[type=file] {
					width: 0.1px;
					height: 0.1px;
					opacity: 0;
					overflow: hidden;
					position: absolute;
					z-index: -1;
				}
			}

			label {
				color: #fff;

				&.file-upload {
					@extend input;
					margin-top: 28px; // label height of other items
					display: flex;
					justify-content: center;
					align-items: center;

					.fa {
						margin-right: 5px;
					}
				}
			}

			.hasDropdown {
				margin-top: 0;

				&:hover, &:active {
					background: $main-color-orange;
					color: #fff;
				}
			}
			.selectGroup {

				input {
					height: unset;
				}
			}

			.custom-select {
				@extend input;
				width: 100%;
				background: $main-color-blue-dark;

				option {
					color: #fff;

					&:first-of-type {
						color: $main-color-blue-light;
					}
				}
			}

			textarea {
				@extend input;
				width: 100%;
				background: transparent;
				min-height: 16.43rem;
				padding: 0.5rem 0.7143rem;
			}

			/* ----------------------
				curriculum vitae (frontend)
			*/
			p {
				margin-bottom: 0.5rem;
			}
			.curriculum_vitae {
				display: flex;
				padding: 0 !important;

				label {
					cursor: pointer;
					margin: 0;
					padding: 0;
					text-align: center;
					align-self: center;
					background: $main-color-blue-light;
					// padding: 11px 0 12px 0; /* hack: height of label 100% */

					&:hover {
						background: $main-color-orange;
						color: #fff;
					}
				}

				// input:hover { background: $main-color-orange; }
			}

			button.btn.btn-orange {
				// height: 3.571rem;
				margin-top: 1.429rem;
			}
		}
	}
}

/*****************************
*
* RESPONSIVE
*
*/
@include media-breakpoint-down(sm) {
	
	#form-container-dark form .row div:first-of-type {
		padding-right: 0;
	}

	#form-container-dark form .row div:last-of-type {
		padding-left: 0;
	}
}


