/*****************************
*
* FLASH MESSAGES
*
*/
.alert-success {
    top: 0;
    position: absolute;
    z-index: 10;
    animation: alert 20s forwards;
    width: 100%;
    border-radius: 0;
}

@keyframes alert-success {
    0%   {opacity: 1;}
    100% {opacity: 0; display:none;}
}