/*****************************
*
* SIDEBAR
*
*/
.sidebar {
	background: $main-color-blue-light;
	height: 100%;
	height: auto;
	min-width: 200px;
	padding: 0 !important;

	.navbar-brand-centered {
		display: initial !important; // SHAME

		img {
			right: unset;
			max-height: 90px;
			width: 200px;
		}
	}

	.nav {
		flex-direction: column;

		.nav-item {
			border-bottom: 1px solid lighten($main-color-blue-light, 4%);

			&:first-of-type {
				border-top: 1px solid lighten($main-color-blue-light, 4%);
			}
			
			&:active, &:focus, &.active {
				background: $main-color-turquoise;
			}

			&:hover {
				background: $main-color-orange;
			}

			.nav-link {
				color: #fff;
				padding: 0.7rem 2rem;
				display: flex;

				.fa {
					font-size: 20px;
					min-width: 35px;
					padding-right: 15px;
					text-align: center;
				}
			}
		}
	}
}

/*****************************
*
* RESPONSIVE
*
*/



