/*****************************
*
* BASIC TINYMCE STYLING
*
*/
.mce-tinymce {
	border: none !important;
	
	/* ----------------------
		toolbar - header
	*/
	.mce-toolbar-grp {
		background: $main-color-blue-light !important;
		
		.mce-btn {
			background: $main-color-blue-light !important;

			&:hover, &:focus, &:active {
				background: $main-color-orange !important;
				border-color: $main-color-orange !important;
			}

			&.mce-active {
				background: $main-color-orange !important;
				border-color: $main-color-orange !important;
			}

			button {
				height: 100% !important;
				margin-top: 0 !important;

				.mce-ico {
					color: #fff !important;
				}
			}
		}
	}
	
	/* ----------------------
		edit area - content
	*/
	.mce-edit-area {
		border: 0.2143rem solid $main-color-blue-light !important;
	}
	
	/* ----------------------
		statusbar - footer
	*/
	.mce-statusbar {
		background: $main-color-blue-light;
		border: none;

		.mce-branding-powered-by {
			display: none !important;
		}

		.mce-path-item {
			color: #fff;
		}

		i.mce-i-resize {
			color: #fff;
		}
	}
}

/*****************************
*
* BASIC TINYMCE STYLING JOB SINGLE
*
*/

#jobsingle .mce-tinymce	.mce-toolbar-grp {
	background: $main-color-turquoise !important;
	
	.mce-btn {
		background: $main-color-turquoise !important;

		&:hover, &:focus, &:active {
			background: $main-color-orange !important;
			border-color: $main-color-orange !important;
		}

		&.mce-active {
			background: $main-color-orange !important;
			border-color: $main-color-orange !important;
		}

		button {
			height: 100% !important;
			margin-top: 0 !important;

			.mce-ico {
				color: #fff !important;
			}
		}
	}
}

/* ----------------------
	edit area - content
*/
.mce-edit-area {
	border: 0.2143rem solid $main-color-turquoise !important;
}

/* ----------------------
	statusbar - footer
*/
.mce-statusbar {
	background: $main-color-turquoise;
	border: none;

	.mce-branding-powered-by {
		display: none !important;
	}

	.mce-path-item {
		color: #fff;
	}

	i.mce-i-resize {
		color: #fff;
	}
}
