/*****************************
*
* btn general
*
*/
.btn {
	border: none;
	cursor: pointer;
}

/*****************************
*
* btn-primary
*
*/
.btn-primary {
	background-color: $main-color-turquoise;

	&:hover {
		background-color: $main-color-orange;
	}
}

/*****************************
*
* orange submit button
*
*/

.btn-orange {
	width: 100%;
	background-color: $main-color-orange;
	color: #fff;
	padding: 2rem 0;
	font-weight: 700;
	border-radius: 0;

	&:hover {
		background-color: lighten($main-color-orange, 5%);
	}
}

a.btn-orange:hover { color: #fff; }

/*****************************
*
* facebook login button
*
*/

.btn-facebook-login {
	background: #3B58A5;
	border: none;
	color: #fff;
	padding: 0;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 0.9rem;
	display: flex;
	justify-content: center;
	position: relative;
	min-height: 40.6px;

	.fa-facebook {
		padding: 14px 16px;
		background: #334F8D;
		position: absolute;
		left: 0;
		top: 0;
	}
	&:hover {
		background-color: lighten(#3B58A5, 5%);
	}
}


/*****************************
*
* curriculum vitae button
*
*/
.btn-curriculum-vitae {
	border-radius: 0;
	background: $main-color-blue-light;
	color: #fff;

	&:hover {
		background: $main-color-orange;		
	}
}





