/*****************************
*
* MULTIPLE SELECT
*
*/

.dropdownContainer {

	button {
		height: 4rem;
		border: none;
		color: #fff;
		background-color: $main-color-blue-light;
		width: 100%;
	}

	.selectGroup {
		display: none;
		background: $main-color-blue-light;
		display: flex;
		flex-direction: column;
		margin-top: 0.07143rem;
		color: #fff;
		padding: 1.429rem;
	}
}

