/*****************************
*
* LOGO IMG
*
*/
.navbar-brand-centered {
	width: 0;

	img {
		max-height: 4.688rem;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		margin: 2rem auto auto;
		z-index: 2;
	}
}


/*****************************
*
* LOGO
*
*/

/* ----------------------
half circle white - standard
*/
#circle {
	border-radius: 0 0 50% 50%;
	left: 0;
	right: 0;
	padding: 9.286rem 10.71rem;
	margin: auto;
	position: absolute;
	width: 10rem;
	background-color: #fff;
	z-index: 2;
}

/* ----------------------
	half circle background auth
*/
#circle-background-auth {
	@extend #circle;
	background-color: #E7E7E7;
	top: -86px;
	z-index: 1;
	padding: 128px 156px;
}

/* ----------------------
	half circle background home
*/
#circle-background-home {
	@extend #circle;
	background-color: #000;
	top: -86px;
	z-index: -1;
	padding: 9.143rem 11.14rem;
	filter: blur(100px);
}


/*****************************
*
* RESPONSIVE
*
*/
@include media-breakpoint-down(md) {
	#circle {
		top: -100px;
	}

	#circle-background-auth {
		top: -86px;
	}
}

@include media-breakpoint-down(xs) {
	.navbar-brand-centered img {
		max-height: 3.688rem;
	}

	#circle {
		padding: 7.286rem 7.71rem;
		top: -71px;
	}

	#circle-background-auth {
		padding: 7.286rem 8.1rem;
		top: -60px;
	}
}

@media screen and (max-width: 390px) {
	#circle {
		padding: 5.286rem 5.71rem;
		top: -30px;
	}

	#circle-background-auth {
		padding: 5.286rem 6.2rem;
		top: -23px;
	}
}














