/*****************************
*
* MODAL
*
*/

.modal {

	.modal-dialog {
		max-width: 90vw;
	}
	
	.modal-content {
		height: 90vh;
		background: $main-color-orange;

		.modal-header {
			border-bottom: none;

			h4 {
				font-size: 2rem;
			}

			.close {
				font-size: 2rem;
				color: #fff;
			}
		}

		.modal-body {
			padding: 0;
			height: 30vh;

			object {
				height: 100%;
				width: 100%;
			}
		}
	}

	&.active {
		display: block;
		background: rgba(0,0,0,0.5);
	}
}