/******************
*
*	WORK EXPERIENCE
*
*/

.work-experience {
	margin-bottom: 2rem;

	.work-experience-container {
		background: $main-color-blue-light;
		padding: 20px;
		display: flex;
		flex-direction: column;

		&:nth-of-type(n+1) {
			margin-top: 2rem;
		}

		input, textarea {
			border-color: $main-color-turquoise !important;

			&:hover, &:focus, &:active {
				border-color: $main-color-orange !important;
			}
		}

		.btn_remove {
			align-self: flex-end;
			border-radius: 0;
		}
	}
}

#add {
	margin-bottom: 4rem;
}