/*****************************
*
* BACKEND ADMIN
*
*/
#backend {
	background: $main-color-blue-dark;
	color: #fff;

	main {
		display: flex;
		justify-content: center;

		&>.container {
			padding: 100px 15px;
		}

		.backend-back-button {
			margin-bottom: 60px;
		}
	}

	/*****************************
	*
	* NAV
	*/
	nav {
		&.navbar {
			display: none;
		}

		background: $main-color-blue-light;

		.navbar-brand-centered {
			display: block !important;
			height: 150px;
			width: 200px;
		}

		#main-nav {
			background: $main-color-blue-light;
			justify-content: right;

			.container {
				width: unset;
				max-width: unset;
				margin: 0;
				padding: 0;

				.navbar-nav {
					margin-left: 0;

					.nav-link {
						color: #fff;
					}
				}
			}
		}
	}

	/*****************************
	*
	* SHAME - table CONTENT
	*/
	table {
		// margin: 60px auto 0;
		margin-top: 60px;

		thead th {
			text-align: center;
		}
		
		tr {
			background: $main-color-blue-light;

			td {
				border-color: $main-color-blue-dark;
				padding: 0.75rem;

				ul {
					list-style: none;
					padding: 0;
					margin-bottom: 0;
				}
			}

			th {
				padding: 0.75rem;
			}
		}

		&.table-striped tbody tr {
			&:nth-of-type(2n-1) {
				background: lighten($main-color-blue-light, 5%);

				td {
					.btn-orange {
						padding: 2rem 0 !important;
					}
				}
			}
		}
	}
	
	form.delete { display: inline; }

	/*****************************
	*
	* LOGO
	*/
	#circle {
		display: none;
	}

	/*****************************
	*
	* FOOTER
	*/
	footer {
		display: none;
	}
}