/*****************************
*
* BODY
*
*/
body {
	display: flex;
	min-height: 100vh;
  	flex-direction: column;

	main {
		flex: 1;
	}
	
	aside {
		width: 0;
		height: 0;
	}
}

/*****************************
*
* FOOTER
*
*/
footer {
	background: $main-color-blue-light;
	min-height: 10rem;
	display: flex;
	justify-content: center;

	/* ----------------------
		footer text
	*/
	p {
		color: #fff;
		margin: auto 0;
	}
}

