/*****************************
*
* NAVBAR
*
*/

/* ----------------------
	only for home
*/
#home nav {
	margin-bottom: 150px;
}

nav {
	height: 4.286rem;
	min-height: 60px;
	background-color: #fff;
	padding: 0 14px !important;
	z-index: 3;

	/* ----------------------
		hamburger icon
	*/
	.navbar-toggler {
		cursor: pointer;
		background-color: $main-color-orange;
		border: none;
		border-radius: 0;
		height: 100%;
		padding: 0 20px;

		&:hover {
			background-color: lighten($main-color-orange, 5%);
		}

		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}
	}
	
	/* ----------------------
		close icon
	*/
	.navbar-toggler-close {
		display: none;
	}
	
	/* ----------------------
		content
	*/
	#main-nav {
		background: #fff;
		z-index: 1;
		height: 60px;
		
		.container {
			display: flex;
		}
		
		.navbar-nav:last-of-type {
			margin-left: auto;
		}

		.nav-item {
			padding: 14px;
		}

		.login-button {
			background: $main-color-orange;

			&:hover {
				background: lighten($main-color-orange, 5%);
			}

			.nav-link {
				color: #fff;
			}
		}
	}
}

/*****************************
*
* NAVBAR MOBILE
*
*/
.overlay {
	overflow: hidden;

	nav {
		position: fixed;
		height: 100%;
		width: 100%;
		z-index: 1;
		left: 0;
		top: 0;
		background-color: $main-color-orange;
		overflow: hidden;
		transition: 0.5s;
		padding: 0;
		
		/* ----------------------
			hamburger icon
		*/
		.navbar-toggler {
			display: none;
		}
		
		/* ----------------------
			close icon
		*/
		.navbar-toggler-close {
			display: block;
			position: absolute;
		    	top: 20px;
		    	right: 45px;
		    	font-size: 60px;
		    	border: none;
			background: none;
			color: #fff;
			cursor: pointer;

			&:hover {
				color: darken(#fff, 20%);
			}
		}
		
		/* ----------------------
			content
		*/
		#main-nav {
			display: block;
			position: relative;
			top: 25%;
			width: 100%;
			text-align: center;
			margin-top: 30px;
			background: none;

			.container {
				display: inline;
			}

			.nav-item {
				padding: 0;

				.nav-link {
					padding: 8px;
				    	text-decoration: none;
				   	font-size: 36px;
				    	color: #fff;
				    	display: block;
				    	transition: 0.3s;

				    	&:hover,  {
				    		color: darken(#fff, 20%);
				    	}
				}

				&.login-button {
					background: none;
				}
			}
		}
	}

	/* ----------------------
		remove logo, logo shadow and grey background
	*/
	.navbar-brand-centered, #circle, #circle-background-home, #auth-container {
		display: none;
	}
}


